# Arquivos gerados pelo TypeScript
dist/
*.js
*.js.map

# Dependências instaladas via npm ou yarn
node_modules/

# Arquivos de configuração específicos de IDEs ou editores
.vscode/
.idea/

# Arquivos de logs e debug
*.log
npm-debug.log*

yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env

# Arquivos de build de CI
build/

# Arquivos de dependências opcionais
*.bak
*.orig
*.tmp

# Cache do TypeScript
*.tsbuildinfo

# Outros arquivos temporários ou de sistema
.DS_Store
Thumbs.db
